html {
  overflow-y: scroll;
}

body {
  background-color: rgb(248, 249, 250);
  font-family: $font-family;
}

header {
  margin-bottom: 3rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 12345;
  -webkit-box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.75);

  > div > div {
    width: 100%;
  }

}

main {
  margin-top: 120px;
}