@import "~bootstrap/scss/bootstrap";

.wrap-image {
  height: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  > div {
    position: relative;
    cursor: pointer;
  }

  img {
    min-height: 100px;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;

    &.loaded {
      opacity: 1;
    }
  }

  > div.selected,
  &:hover {
    z-index: 1234;

    span:before {
      content: "\2605";
      color: $yellow;
    }
  }

  &:hover {
    img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

  span {
    position: absolute;
    font-size: 32px;
    color: $red;
    right: 0;
    bottom: 0;

    &:before {
      position: absolute;
    }

  }

}

